{% extends "base.html" %}

{% block content %}
        <div class="content">
            <div class="main">
                    <article>
                        <div class="res-head">
                            <h1>500 | Server error</h1>
                            <br>
                            <p>We experienced an error on our end. Please try again later.</p>
                            <br>
                            <a href="{{ url_for('main.home') }}">(Return Home)</a>
                        </div>
                    </article>
                    <br>
            </div>
        </div>
{% endblock content %}
