{% extends "base.html" %}

{% block content %}
        <div class="content">
            <div class="main">
                {% for article in articles %}
                    <article>
                        <div class="art-head">
                            <small>{{ article.date_posted.strftime('%Y-%m-%d') }}</small>
                            <a href="{{ url_for('article', article_id=article.id) }}">
                                <h1>{{ article.title }}</h1>
                            </a>
                        </div>
                        <p>{{ article.content }}</p>
                    </article>
                    <br>
                {% endfor %}
            </div>
            <div class="col-r">
                <h3>Column</h3>
                <p>Content</p>
            </div>
        </div>
{% endblock content %}
