{% extends "base.html" %}

{% block content %}
        <div class="content">
            <div class="main">
                <div class="welcome">
                    You are logged in as {{ current_user.name }}.
                </div>
                {% for restaurant in restaurants %}
                    <article>
                        <div class="res-head">
                            <a href="{{ url_for('restaurants.restaurant', restaurant_name=restaurant.name) }}">
                                <h1>{{ restaurant.name }}</h1>
                            </a>
                        </div>
                    </article>
                    <br>
                {% endfor %}
            </div>
            <div class="col-r">
                <h3>Restaurant List</h3>
                <br>
                <p>Select a restaurant to see the menu.</p>
            </div>
        </div>
{% endblock content %}
