{% extends "base.html" %}

{% block content %}
        <div class="content">
            <div class="main">
                <form class="res-form" action="" method="post">
                    <h2>New Restaurant</h2>
                    <br>
                    {{ form.hidden_tag() }}
                    <h3>{{ form.name.label }}:</h3>
                    {% if form.name.errors %}
                        <p>{{ form.name(class="res-form-field-errors") }}</p>
                        <div class="error-feedback">
                            <ul>
                                {% for error in form.name.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        <p>{{ form.name(class="res-form-field") }}</p>
                    {% endif %}
                    <br>
                    <h3>{{ form.privacy.label }}:</h3>
                    {% if form.privacy.errors %}
                        <p>{{ form.privacy(class="res-form-field-errors") }}</p>
                        <div class="error-feedback">
                            <ul>
                                {% for error in form.privacy.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        <p>{{ form.privacy(class="res-form-field") }}</p>
                    {% endif %}
                    <br>
                    {{ form.submit(class="res-form-button") }}
                </form>
            </div>
            <div class="col-r">
                <p>Use the form to enter the name of your new restaurant.</p>
            </div>
        </div>
{% endblock content %}
