{% extends "base.html" %}

{% block content %}
        <div class="content">
            <div class="main">
                    <article>
                        <div class="res-head">
                            <a class="delete-button" href="{{ url_for('delete_confirm', restaurant_name=restaurant.name) }}">Delete</a>
                            <a class="add-button" href="{{ url_for('add_item', restaurant_name=restaurant.name)}}">Add Item</a>
                            <h1>{{ restaurant.name }}</h1>
                        </div>
                    </article>
                    {% for item in items %}
                        <br>
                        <div class="menu">
                            <small>{{ item.price }}</small>
                            <h4>{{ item.name }}</h4>
                            <p class="course">{{ item.course }}</p>
                            <p>{{ item.description }}</p>
                            <br>
                            <a class="delete-button" href="{{ url_for('delete_item_confirm', restaurant_name=restaurant.name, item_name=item.name) }}">Delete</a>
                            <a class="add-button" href="{{ url_for('edit_item', restaurant_name=restaurant.name, item_name=item.name) }}">Edit Item</a>
                            <br>
                        </div>
                    {% endfor %}
            </div>
            <div class="col-r">
                <h3>Menu</h3>
                <br>
                <p>This is the menu for "{{ restaurant.name }}."</p>
            </div>
        </div>
{% endblock content %}
